body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-logo {
  height: 1.1em;
  vertical-align: bottom;
}

header {
  padding: 0.5em;
  font-size: 0.9em;
  background-color: blueviolet;
}

header h1 {
  margin: 0;
  color: white;
}

footer {
  clear: both;
  color: white;
  padding: 1em;
  background-color: rgb(208, 168, 245);
  margin-top: 2em;
}
footer a {
  color: blueviolet;
}

footer span {
  margin-right: 5em;
}

.configuration {
  display: flex;
  flex-wrap: wrap;
}

.configuration fieldset {
  flex-grow: 1;
  border-style: solid;
  border-color: grey;
  border-radius: 0.4em;
}

.configuration fieldset legend {
  padding: 0.2em 1em;
  border: 1px solid grey;
}

.field {
  margin: 0.5em 0;
}

.field label {
  display: block;
}

.field input[type="range"] {
  width: 100%;
}

.field input[type="number"] {
  width: 100px;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.output div {
  padding: 0 2em;
  vertical-align: center;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.chart {
  width: 100%;
  height: 400px;
}

button {
  padding: 0.8em 1.2em;
  border-radius: 0.3em;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
}

button:disabled {
  background-color: hsla(0, 0%, 93%, 1);
  color: hsla(0, 0%, 40%, 1);
}
